body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f7eade, #f6f9f5); /* Обновленный градиент фона */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(135deg, #e4cab6, #c3a99c); /* Обновленный градиент для контейнера */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input, textarea, button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #b3a89a; /* Легкий тёплый коричневый цвет для рамки */
    border-radius: 4px;
}

input, textarea {
    background: #f7eade; /* Светлый фон для полей ввода */
    color: #b3a89a; /* Тёмно-коричневый текст */
}

button {
    background: linear-gradient(135deg, #aaada6, #c3a99c); /* Обновленный градиент кнопки */
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b3a89a; /* Тёплый коричневый цвет при наведении */
}

.question {
    border: 1px solid #b3a89a; /* Лёгкая рамка для секции вопроса */
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
    background: linear-gradient(135deg, #e4cab6, #f7eade); /* Градиент для секции вопроса */
}

.option {
    margin: 5px 0;
}

.option input {
    margin-right: 5px;
}
